header * {text-align:center; border:0; text-decoration:none;}
header {border-bottom:1px solid #242; margin-top: 4em;}
header h1 {font-size:3em;}
header h1, header h2, header h3 {border:0}
nav { 
	border:1px dashed #777; 
}

nav a {
    text-decoration: none;
}

nav li li { list-style:none }

#liberapay {
	font-family:sans-serif;
	font-size:.9em;
	position:fixed; 
	color:#ddd;
	right:1ex;
	top:1em;
	z-index:1;
	transition:all 0.3s ease;
	text-align:center;
	font-weight:bolder;
	background:rgba(242,242,242,0.6);
	border: 1px solid #ccc;
}
#liberapay:hover { 
	border: 1px solid deeppink; 
	background:rgba(242,242,242,1);
}
#liberapay img{
	margin:auto
}
#liberapay a:hover {
    transition: .5s ease;
	color:deeppink;
}
#liberapay a {
	padding:2px;
	margin:2px;
    transition: .5s ease;
}

.hiddenimg {
	font-family:serif;
	font-weight:bolder;
	text-align:center;
	border:1px dotted silver;
	cursor:pointer;
}
.modal {
	position: fixed;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 0.8);
	visibility: visible;
	opacity: 1;
	min-height:100%;
	min-width:100%;
	z-index:2;
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 66%;
	position: relative;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}
@media (max-width: 800px) {                  
  #liberapay img, #liberapay hr { 
    display:none;
  }
  #liberapay {
  	  font-size:0.7em;
  }

@media print {
    #liberapay,
    .print { visibility : hidden; }

    body { 
        border: none ; 
        max-width:none;
    }
    body * {color: #000;}

	pre {
		background: #f5f5f5;
		border: 1px solid #aaa;
		color:black;
	}
}
